*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

figure{
    display: inline-block;
}

.logo-header{
    height: 5rem;
    vertical-align: middle;
}

.name-header{
    font-size: 3rem ;
    font-weight: 800;
    vertical-align: middle;
}

.container-header-element{
    margin: 15px;
}