/* Generics */

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, .line-row{
    background-color: darkgray;
}

/*header*/

header, .container-main{
    background-color: white;
}

figure, .ticket, .list-element{
    display: inline-block;
}

.logo-header{
    height: 5rem;
    vertical-align: middle;
}

.name-header{
    font-size: 3rem ;
    font-weight: 800;
    vertical-align: middle;
}

.container-header-element{
    padding: 15px;
}

/*main*/

.container-main{
    width: 1080px;
    height: 700px;
    margin: 30px auto;
    border-radius: 10px;
}

.nav-button{
    padding: 15px 30px;
}

button{
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 3px 10px;
}

.Task{
    background-color: #1e90ff;
}

.line-row {
    height: 3px;
}

/*list section*/

.section-list{
    margin: 30px;
    list-style: none;
}

.element-title{
    font-size: 10px;
    vertical-align: middle;
}

.list-element{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-left: 5px;
    
}

.do-it{
    color: green;
    border: 1px solid green;
}

.not-do{
    color: red;
    border: 1px solid red;
}

.new-list-point{
    list-style: none;
    margin: 25px;

}

ul{
    padding-left: 0;
    margin-top: 25px;
}

.ticket{
    padding: 3px 10px;
    border-radius: 15px;
}

.editorial{
    background-color: #87bff7;
}

.mobile{
    background-color: orange;
}

.Recruiting{
    background-color: rgb(39, 201, 160);
}

.Q1-goals{
    background-color: rgb(206, 79, 231);
}

.website{
    background-color:rgb(250, 126, 233) ;
}

.sales{
    background-color:rgb(201, 248, 72) ;
}